.maindiv {
    /*display: inline-block; */
    /* margin: 0; */
    /* position: absolute; */
    /* top: 50%; */
    /* -ms-transform: translateY(-50%); */
    /* transform: translateY(-50%); */
    margin-left: auto;
    width: fit-content;
    margin-right: auto;
    /* right: 50%; */
    background-color: wheat;
    height: 10cm;
    border-radius: 3px;
    padding: 10px;
    opacity: 0.67;
}

.left{
    display: inline-block;
    background-color: gold;
    width: fit-content;
    border-radius: 5px;
}

.details{
    display: inline-block;
}

.right{
    background-color: gold;
    display: inline-block;
    position: relative;
    top: -95px;
    padding-right: 3px;
    width: fit-content; 
    height: 10cm;
    border-radius: 5px;
}

.gitForm{
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    top: 20px;
}

.bio{
    border: 3px;
}


#name, #blog, #region {
    text-align: center;
}

#githubID, #submitButton{
    margin-top: 7px;
    align-content: center;
}

img{
    border-radius: 5px;
    alt: "loading";
    width: 2cm;
    height: 2cm;
}
h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}