.maindiv {
    
    /* we need to center horizontally, so margins from
    left and right sets */
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    /* for contrast with background
    i use a bright color for the div's background-color */
    background-color: wheat;
    height: 10cm;
    border-radius: 3px;
    padding: 10px;
    opacity: 0.67;
}

.left{
    /* to set images and details inline and in one block*/
    display: inline-block;
    background-color: gold;
    /* when blog link is long it's better to hide overflowed content */
    overflow: hidden; 
    width: 10cm;
    /* width: fit-content;  */
    border-radius: 5px;
}

.details{
    display: inline-block;
    width: 5cm;
}

.right{
    background-color: gold;
    display: block;
    /* to set leftdiv and rightdiv in-line no matter what
    content they have */
    float: right;
    padding-right: 3px;
    width: 4.5cm; 
    height: 8cm;
    border-radius: 5px;
}

.gitForm{
    width: 3cm;
    height: 4cm;
    text-align: center;
    /* margin-top: auto;
    margin-bottom: auto; */
    /* top: 20px; */
}

.bio{
    border: 3px;
    width: 2cm;
}

.recent_push{
    background-color: gold;
    /* text-align: center; */
    max-width: fit-content;
}

#name, #blog, #region {
    text-align: center;
}

#githubID, #submitButton{
    margin-top: 7px;
    align-content: center;
}

#wrong_id{
    /* this is a paragraph used for alerting 
    user that the ID supplied is invalid */
    visibility: hidden;
}

img{
    border-radius: 5px;
    alt: "loading";
    width: 2cm;
    height: 2cm;
}

h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}